In [1]:
import pandas as pd
import numpy as np

## 1.1

In [2]:
df = pd.read_csv("M&M.csv")

In [3]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,M&amp;M,EQ,15-May-2017,1367.85,1373.0,1386.65,1370.0,1374.80,1375.65,1378.31,558190,7.693579e+08,38442,386664,69.27
1,M&amp;M,EQ,16-May-2017,1375.65,1377.0,1380.50,1363.1,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82
2,M&amp;M,EQ,17-May-2017,1366.35,1363.0,1384.35,1360.4,1379.00,1378.80,1378.56,920884,1.269497e+09,32299,689649,74.89
3,M&amp;M,EQ,18-May-2017,1378.80,1369.0,1372.00,1347.5,1347.50,1352.85,1361.70,1217846,1.658344e+09,20476,1043736,85.70
4,M&amp;M,EQ,19-May-2017,1352.85,1350.0,1357.60,1328.5,1338.20,1333.40,1344.80,976742,1.313522e+09,36297,773590,79.20

In [4]:
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [5]:
df.shape

(497, 15)

In [6]:
df_1 = df[df.Series == 'EQ'] #removing rows where 'series' columns is NOT 'EQ'

In [7]:
df_1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,M&amp;M,EQ,15-May-2017,1367.85,1373.0,1386.65,1370.0,1374.80,1375.65,1378.31,558190,7.693579e+08,38442,386664,69.27
1,M&amp;M,EQ,16-May-2017,1375.65,1377.0,1380.50,1363.1,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82
2,M&amp;M,EQ,17-May-2017,1366.35,1363.0,1384.35,1360.4,1379.00,1378.80,1378.56,920884,1.269497e+09,32299,689649,74.89
3,M&amp;M,EQ,18-May-2017,1378.80,1369.0,1372.00,1347.5,1347.50,1352.85,1361.70,1217846,1.658344e+09,20476,1043736,85.70
4,M&amp;M,EQ,19-May-2017,1352.85,1350.0,1357.60,1328.5,1338.20,1333.40,1344.80,976742,1.313522e+09,36297,773590,79.20

In [8]:
df_1.shape

(494, 15)

In [9]:
df_1.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
492,M&amp;M,EQ,07-May-2019,638.50,641.75,642.90,634.2,635.55,636.00,637.64,3160875,2.015496e+09,72445,2366596,74.87
493,M&amp;M,EQ,08-May-2019,636.00,635.55,637.00,619.0,624.60,621.65,631.73,3853705,2.434492e+09,51461,3092701,80.25
494,M&amp;M,EQ,09-May-2019,621.65,620.90,627.95,616.1,625.80,625.45,621.74,1366143,8.493796e+08,52412,538598,39.42
495,M&amp;M,EQ,10-May-2019,625.45,626.25,631.85,619.0,625.85,628.75,624.59,2093110,1.307326e+09,55778,1074491,51.33
496,M&amp;M,EQ,13-May-2019,628.75,628.70,628.70,615.0,616.90,617.60,621.36,1463136,9.091296e+08,43320,896064,61.24

In [10]:
df_1.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,967.834413,968.432692,977.862854,956.393016,966.060223,966.315688,967.298725,2.399657e+06,2.084868e+09,66457.068826,1.355680e+06,58.209028
std,284.639055,284.590215,286.843471,283.058929,284.420367,284.501886,285.106647,1.638213e+06,1.252465e+09,36869.097710,9.005343e+05,11.370390
min,621.650000,620.900000,627.950000,615.000000,616.900000,617.600000,621.360000,1.751950e+05,2.408261e+08,4034.000000,9.190200e+04,24.570000
25%,741.825000,744.000000,751.437500,732.825000,741.650000,741.587500,743.842500,1.300886e+06,1.302878e+09,39800.500000,7.448740e+05,50.157500
50%,859.125000,860.250000,868.700000,850.000000,857.550000,857.925000,859.190000,2.037748e+06,1.776785e+09,58674.000000,1.128896e+06,58.805000
75%,1330.137500,1333.375000,1342.700000,1313.975000,1327.850000,1328.100000,1328.005000,3.006416e+06,2.456863e+09,82083.000000,1.683622e+06,65.632500
max,1556.300000,1560.000000,1571.400000,1533.100000,1550.400000,1556.300000,1557.090000,1.108417e+07,8.737215e+09,253657.000000,5.426021e+06,85.700000

## 1.2

To find the max, min and mean closing price for last 90 days

In [11]:
df_2 = df_1["Close Price"]

In [12]:
df_2 = df_2[-90:]

In [13]:
df_2.shape

(90,)

In [14]:
print("--For last 90 days closing price--")
print(f"Max Value: {df_2.max():.2f}")
print(f"Min Value: {df_2.min():.2f}")
print(f"Mean Value: {df_2.mean():.2f}")

--For last 90 days closing price--
Max Value: 803.85
Min Value: 617.60
Mean Value: 676.82

## 1.3

Date-Time in pandas

In [15]:
df_1.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [16]:
df_1["Date"] = pd.to_datetime(df_1['Date'])

C:\Users\VR94\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
df_1.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [18]:
diff = df_1['Date'].max() - df_1['Date'].min()
print(f"(Max - Min) of Date: {diff}")

(Max - Min) of Date: 728 days 00:00:00

## 1.4

To calculate the monthwise VWAP (Volume Weighted Average Price) of the stock.

In [19]:
df_1['Year'] = pd.DatetimeIndex(df_1['Date']).year
df_1['Month'] = pd.DatetimeIndex(df_1['Date']).month

C:\Users\VR94\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\VR94\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
df_3 = df_1.groupby('Year')
df_3.first() # print first entries of all the years formed

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month
Year,,,,,,,,,,,,,,,,
2017,M&amp;M,EQ,2017-05-15,1367.85,1373.0,1386.65,1370.0,1374.8,1375.65,1378.31,558190,7.693579e+08,38442,386664,69.27,5
2018,M&amp;M,EQ,2018-01-01,751.10,751.0,758.90,743.0,745.5,744.65,750.77,2476302,1.859140e+09,31240,1619007,65.38,1
2019,M&amp;M,EQ,2019-01-01,803.85,805.0,805.85,771.3,773.0,773.35,779.59,3442903,2.684066e+09,77276,1174665,34.12,1

In [21]:
for i in range(3):
    year = 2017 + i
    df_temp_year = df_3.get_group(year)
    df_temp_months = df_temp_year.groupby('Month')
    month_vals = list(set(df_temp_year['Month'].values))
    for j in month_vals:
        df_temp_month = df_temp_months.get_group(j)
        vwap = sum(df_temp_month['Close Price'] * df_temp_month['Total Traded Quantity'])/sum(df_temp_month['Total Traded Quantity'])
        print(f"VWAP for Year {year} and Month {j} : {vwap:.2f}")

VWAP for Year 2017 and Month 5 : 1365.99
VWAP for Year 2017 and Month 6 : 1399.28
VWAP for Year 2017 and Month 7 : 1385.65
VWAP for Year 2017 and Month 8 : 1385.54
VWAP for Year 2017 and Month 9 : 1289.94
VWAP for Year 2017 and Month 10 : 1331.88
VWAP for Year 2017 and Month 11 : 1395.61
VWAP for Year 2017 and Month 12 : 1175.16
VWAP for Year 2018 and Month 1 : 758.61
VWAP for Year 2018 and Month 2 : 749.06
VWAP for Year 2018 and Month 3 : 734.94
VWAP for Year 2018 and Month 4 : 805.09
VWAP for Year 2018 and Month 5 : 873.03
VWAP for Year 2018 and Month 6 : 905.89
VWAP for Year 2018 and Month 7 : 915.80
VWAP for Year 2018 and Month 8 : 949.94
VWAP for Year 2018 and Month 9 : 925.62
VWAP for Year 2018 and Month 10 : 762.34
VWAP for Year 2018 and Month 11 : 772.81
VWAP for Year 2018 and Month 12 : 756.13
VWAP for Year 2019 and Month 1 : 714.54
VWAP for Year 2019 and Month 2 : 656.83
VWAP for Year 2019 and Month 3 : 671.80
VWAP for Year 2019 and Month 4 : 666.53
VWAP for Year 2019 and Month 5 : 633.05

## 1.5

#### To calculate average price and Profit/Loss of last N days/weeks/months/year of the stock.

In [22]:
df_3 = df_1.set_index(['Date']) #setting indexing w.r.t datetime

In [23]:
print("==To calculate average price and Profit/Loss of last N days/weeks/months/year of the stock==")
choice = str(input("Choose:\nDay - D\nWeeks - W\nMonths - M\nYear - Y\n"))
if choice.lower() == 'd':
    choice_word = 'Days'
    c = 'd'
elif choice.lower() == 'w':
    choice_word = 'Weeks'
    c = 'w'
elif choice.lower() == 'm':
    choice_word = 'Months'
    c ='d'
elif choice.lower() == 'y':
    choice_word = 'Years'
    c = 'd'
else:
    print("Wrong Choice")
if choice.lower() in ['d','w','m','y']:
    x = int(input(f"Enter Number of {choice_word}: "))
if choice.lower() == 'm':
    x = x*30
if choice.lower() == 'y':
    x = x*365

==To calculate average price and Profit/Loss of last N days/weeks/months/year of the stock==
Choose:
Day - D
Weeks - W
Months - M
Year - Y
m
Enter Number of Months: 7

In [24]:
start_date = df_1['Date'].max() - pd.to_timedelta(x, unit=c)
print(f"Start Date: {start_date.date()}")
print(f"End Date: {str(df_1['Date'].max().date())}")

Start Date: 2018-10-15
End Date: 2019-05-13

In [25]:
df_diff_n = df_3.loc[str(start_date.date()):str(df_1['Date'].max().date())]

In [26]:
avg_price_n = df_diff_n["Average Price"].sum()/df_diff_n["Average Price"].count()

In [27]:
d_1 = df_diff_n[:1]
d_n = df_diff_n[-1:]
profit_loss = 100*(d_n["Close Price"].values[0] - d_1["Close Price"].values[0])/d_1["Close Price"].values[0]

In [28]:
print(f"Average Price for past {x} {choice_word}: {avg_price_n:.2f}")
print(f"Profit/Loss percentage for past {x} {choice_word}: {profit_loss:.2f}%")

Average Price for past 210 Months: 707.87
Profit/Loss percentage for past 210 Months: -17.54%

## 1.6

To find percentage change btw 2 consecutive day's closing price.

In [29]:
df_4 = df_1.copy()

In [30]:
df_4["Day_Perc_Change"] = df_4["Close Price"].pct_change(periods = 1)
df_4.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change
0,M&amp;M,EQ,2017-05-15,1367.85,1373.0,1386.65,1370.0,1374.80,1375.65,1378.31,558190,7.693579e+08,38442,386664,69.27,2017,5,NaN
1,M&amp;M,EQ,2017-05-16,1375.65,1377.0,1380.50,1363.1,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82,2017,5,-0.006760
2,M&amp;M,EQ,2017-05-17,1366.35,1363.0,1384.35,1360.4,1379.00,1378.80,1378.56,920884,1.269497e+09,32299,689649,74.89,2017,5,0.009112
3,M&amp;M,EQ,2017-05-18,1378.80,1369.0,1372.00,1347.5,1347.50,1352.85,1361.70,1217846,1.658344e+09,20476,1043736,85.70,2017,5,-0.018821
4,M&amp;M,EQ,2017-05-19,1352.85,1350.0,1357.60,1328.5,1338.20,1333.40,1344.80,976742,1.313522e+09,36297,773590,79.20,2017,5,-0.014377

NaN comes in first row because there is no last valid observation to caluclate the percentage change for the first row. Also if we change the period from 1 to 2, then two NaN will appear in the first two rows due to the same reason.

In [31]:
df_4 = df_4.iloc[1:] #removing the first row
df_4.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change
1,M&amp;M,EQ,2017-05-16,1375.65,1377.00,1380.50,1363.1,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82,2017,5,-0.006760
2,M&amp;M,EQ,2017-05-17,1366.35,1363.00,1384.35,1360.4,1379.00,1378.80,1378.56,920884,1.269497e+09,32299,689649,74.89,2017,5,0.009112
3,M&amp;M,EQ,2017-05-18,1378.80,1369.00,1372.00,1347.5,1347.50,1352.85,1361.70,1217846,1.658344e+09,20476,1043736,85.70,2017,5,-0.018821
4,M&amp;M,EQ,2017-05-19,1352.85,1350.00,1357.60,1328.5,1338.20,1333.40,1344.80,976742,1.313522e+09,36297,773590,79.20,2017,5,-0.014377
5,M&amp;M,EQ,2017-05-22,1333.40,1340.15,1341.95,1301.1,1307.00,1306.25,1313.89,436797,5.739011e+08,26521,261661,59.90,2017,5,-0.020361

## 1.7

In [32]:
df_5 = df_4.copy()

In [33]:
df_5["Trend"] = np.nan #create a new empty column in dataframe

In [34]:
for index, row in df_5.iterrows():
    if row["Day_Perc_Change"] > -0.5 and row["Day_Perc_Change"] < 0.5:
        df_5.loc[index, "Trend"] = 'Slight/NoChange'
    if row["Day_Perc_Change"] > 0.5 and row["Day_Perc_Change"] < 1:
        df_5.loc[index, "Trend"] = 'Slight Positive'
    if row["Day_Perc_Change"] < -0.5 and row["Day_Perc_Change"] > -1:
        df_5.loc[index, "Trend"] = 'Slight Negative'
    if row["Day_Perc_Change"] > 1 and row["Day_Perc_Change"] < 3:
        df_5.loc[index, "Trend"] = 'Positive'
    if row["Day_Perc_Change"] > -3 and row["Day_Perc_Change"] < -1:
        df_5.loc[index, "Trend"] = 'Negative'
    if row["Day_Perc_Change"] > 3 and row["Day_Perc_Change"] < 7:
        df_5.loc[index, "Trend"] = 'Among top gainers'
    if row["Day_Perc_Change"] < -3 and row["Day_Perc_Change"] > -7:
        df_5.loc[index, "Trend"] = 'Among top losers'
    if row["Day_Perc_Change"] > 7:
        df_5.loc[index, "Trend"] = 'Bull run'
    if row["Day_Perc_Change"] < -7:
        df_5.loc[index, "Trend"] = 'Bear drop'

In [35]:
df_5.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change,Trend
1,M&amp;M,EQ,2017-05-16,1375.65,1377.00,1380.50,1363.1,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82,2017,5,-0.006760,Slight/NoChange
2,M&amp;M,EQ,2017-05-17,1366.35,1363.00,1384.35,1360.4,1379.00,1378.80,1378.56,920884,1.269497e+09,32299,689649,74.89,2017,5,0.009112,Slight/NoChange
3,M&amp;M,EQ,2017-05-18,1378.80,1369.00,1372.00,1347.5,1347.50,1352.85,1361.70,1217846,1.658344e+09,20476,1043736,85.70,2017,5,-0.018821,Slight/NoChange
4,M&amp;M,EQ,2017-05-19,1352.85,1350.00,1357.60,1328.5,1338.20,1333.40,1344.80,976742,1.313522e+09,36297,773590,79.20,2017,5,-0.014377,Slight/NoChange
5,M&amp;M,EQ,2017-05-22,1333.40,1340.15,1341.95,1301.1,1307.00,1306.25,1313.89,436797,5.739011e+08,26521,261661,59.90,2017,5,-0.020361,Slight/NoChange

## 1.8

To find average and median values of colum 'Total Traded Quantity' for each type of 'Trend'

In [36]:
df_6 = df_5.copy()

In [37]:
df_trend_groups = df_6.groupby('Trend')

In [38]:
df_trend_groups.first()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change
Trend,,,,,,,,,,,,,,,,,,
Slight Negative,M&amp;M,EQ,2017-12-21,1541.75,767.0,767.0,738.95,742.85,742.20,746.46,6803736,5.078683e+09,79258,4677871,68.75,2017,12,-0.518599
Slight/NoChange,M&amp;M,EQ,2017-05-16,1375.65,1377.0,1380.5,1363.10,1364.15,1366.35,1371.22,516012,7.075634e+08,29075,334469,64.82,2017,5,-0.006760

In [39]:
df_slight_negative = df_trend_groups.get_group('Slight Negative')

In [40]:
for group in list(set(df_6['Trend'].values)):
    df_group = df_trend_groups.get_group(group)
    avg = df_group['Total Traded Quantity'].mean()
    median = df_group['Total Traded Quantity'].median()
    print(f"For Trend '{group}'")
    print(f"Average Total Traded Quantity: {avg:.2f}")
    print(f"Median Total Traded Quantity: {median:.2f}")
    print("-"*20)

For Trend 'Slight/NoChange'
Average Total Traded Quantity: 2394448.12
Median Total Traded Quantity: 2037748.00
--------------------
For Trend 'Slight Negative'
Average Total Traded Quantity: 6803736.00
Median Total Traded Quantity: 6803736.00
--------------------

## 1.9

Save final dataframe as "week2.csv"

In [41]:
df_6.to_csv("week2.csv")